<!DOCTYPE html>
<html lang="en">
<head>
    <title>test locator-handlebars</title>
</head>
<body>
    <h1>partial `baz` rendered at the client side: </h1>

    <div id="barclient">{{> dir/baz}}</div>

    {{#if people}}
	    {{> dir/abcd}}
	{{else}}
	    {{> dir/efgh}}
	{{/if}}
</body>
</html>
